<div *ngIf="plano">

    <h2 class="tituloCriarEntregas">Camiao:{{plano.camiaoMatricula}} {{plano.date}}} Details</h2>
    <div>
        <label for="camiaoMatricula" class="tituloCriarEntregas">Matricula do Camião: {{plano.camiaoMatricula}}</label>
    </div>
    <div>
        <label for="caminho" class="tituloCriarEntregas">Caminho: {{plano.caminho}}</label>
    </div>
    <div>
        <label for="data" class="tituloCriarEntregas">Data: {{plano.date}}</label>
    </div>
    <div>
        <label for="caminho" class="tituloCriarEntregas">Entregas: {{plano.entregas}}</label>
    </div>
</div>